<template>
  <div class="change-mode">
    <input type="text" v-model="i_item" />
    <b-button :disabled="block_actions" @click="saveChange" variant="primary">
      <i class="fa fa-check" aria-hidden="true"></i>
    </b-button>
    <b-button @click="cancelChange" :disabled="block_actions" variant="danger">
      <i class="fa fa-times" aria-hidden="true"></i>
    </b-button>
  </div>
</template>
<script>
import Form from "../core/Form.js";
export default {
  props: ["url", "item", "name", "method", "index"],
  data() {
    return {
      block_actions: false,
      i_item: this.item
    };
  },
  methods: {
    saveChange() {
      this.block_actions = true;
      var data = {};
      data[this.name] = this.i_item;
      axios[this.method](this.url, data)
        .then(resp => {
          this.block_actions = false;
          this.$emit("change_finished");
        })
        .catch(err => (this.block_actions = false));
    },
    cancelChange() {
      this.$emit("change_canceled");
    }
  }
};
</script>

