<template>
  <b-modal size="md" id="new_transaction" title="New transaction">
    <div v-if="form.errors.any()" class="alert alert-danger">
      <ul>
        <li :key="index" v-for="(error,index) in form.errors.errors">{{error[0]}}</li>
      </ul>
    </div>
    <form @submit.prevent="saveTransaction" action class="horizontal-form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label">User</label>
              <select
                class="form-control"
                :class="{'is-invalid':form.errors.get('user_id')}"
                v-model="form.user_id"
              >
                <option :value="user.id" :key="index" v-for="(user,index) in users">{{user.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label">Amount</label>
              <input
                v-model="form.amount"
                type="text"
                class="form-control"
                :class="{'is-invalid':form.errors.get('amount')}"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label">Type</label>
              <select
                class="form-control"
                :class="{'is-invalid':form.errors.get('type')}"
                v-model="form.type"
              >
                <option value="2">Credit</option>
                <option value="1">Debit</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>

    <template v-slot:modal-footer>
      <b-button :disabled="block_ui" size="sm" @click="saveTransaction" variant="primary">Save</b-button>
    </template>
  </b-modal>
</template>
<script>
import Form from "../core/Form.js";
export default {
  props: [],
  data() {
    return {
      form: this.getForm(),
      users: [],
      block_ui: false
    };
  },
  methods: {
    saveTransaction() {
      this.block_ui = true;
      this.form
        .post("/transactions")
        .then(resp => {
          this.form = this.getForm();
          this.form.errors.clear();
          this.block_ui = false;
          this.$bvModal.hide("new_transaction");
          this.$root.$emit("transaction_saved");
        })
        .catch(err => (this.block_ui = false));
    },
    getForm() {
      return new Form({
        user_id: null,
        amount: 0,
        type: null
      });
    }
  },
  computed: {},
  watch: {},
  mounted() {
    this.getForm();
    axios.get("/users").then(response => {
      this.users = response.data;
    });
  }
};
</script>

