<template>
  <div class="table-responsive">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">Keyword</label>
          <input type="text" class="form-control" v-model="keyword" />
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">Order by</label>
          <select class="form-control" v-model="orderBy">
            <option value="id_asc">ID asc</option>
            <option value="id_desc">ID desc</option>
            <option value="username_asc">Name asc</option>
            <option value="username_desc">Name desc</option>
          </select>
        </div>
      </div>
    </div>
    <table class="table b-table table-striped table-hover">
      <tr>
        <td>#</td>
        <td>User(Balance)</td>
        <td>Type</td>
        <td>Amount</td>
        <td>Actions</td>
      </tr>
      <tr
        :class="isTypeCredit(item.type) ? 'table-success' : 'table-danger' "
        :key="index"
        v-for="(item,index) in l_items"
      >
        <td>{{item.id}}</td>
        <td>
          <div
            class="pointer"
            v-if="!item.editMode"
            @click="item.editMode=true"
          >{{item.username}} ({{item.balance | toUsd}})</div>
          <trns-change-mode
            v-if="item.editMode"
            :url="'/users/'+item.user_id"
            :method="'put'"
            :item="item.username"
            :name="'username'"
            @change_finished="completeChange(index)"
            @change_canceled="item.editMode=false"
          ></trns-change-mode>
        </td>
        <td>{{item.type | typeToLabel}}</td>
        <td>{{item.amount | toUsd}}</td>
        <td>
          <a class="text-danger" @click.prevent="deleteTransaction(item)" href>
            <i class="fa fa-times"></i>
          </a>
        </td>
      </tr>
      <tr v-if="!l_items.length && !items_loading">
        <td colspan="5" class="text-center">No transactions here</td>
      </tr>
      <tr v-if="items_loading">
        <td colspan="5" class="text-center">Loading...</td>
      </tr>
    </table>
  </div>
</template>
<script>
export default {
  props: [],
  data() {
    return {
      items: [],
      items_loading: false,
      orderBy: "id_asc",
      keyword: null
    };
  },
  methods: {
    deleteTransaction(item) {
      if (!confirm("Are you sure you want to delete this transaction ? "))
        return false;
      axios
        .delete("/transactions/" + item.id)
        .then(resp => this.refreshItems())
        .catch(err =>
          alert("Very descriptive error message... sorry about that :(")
        );
    },
    isTypeCredit(type) {
      return type == 2;
    },
    isTypeDebit(type) {
      return type == 1;
    },
    completeChange(item_index) {
      this.items[item_index].editMode = false;
      this.refreshItems();
    },
    refreshItems() {
      this.items_loading = true;
      axios
        .get("/transactions")
        .then(response => {
          this.items = response.data.map(item => {
            var new_item = item;
            new_item.editMode = false;
            return new_item;
          });
          this.items_loading = false;
        })
        .catch(error => (this.items_loading = false));
    }
  },
  filters: {
    toUsd(value) {
      if (!value) return "";
      value = "$" + parseFloat(value).toFixed(2);
      return value;
    },
    typeToLabel(value) {
      //dummy function since I'm currently in a rush to finish this
      return value == 1 ? "Debit" : "Credit";
    }
  },

  computed: {
    l_items() {
      let items = this.itemsCurrent;
      let orderByArr = this.orderBy.split("_");
      let col = orderByArr[0];
      let dir = orderByArr[1];

      var a = 1;
      if (this.keyword) {
        items = _.filter(items, item => {
          //applies the typeToLabel Vue filter since we're currently using this as a reference table
          let type = this.$options.filters.typeToLabel(item.type);
          return (
            //checks for username match
            ~item.username.toLowerCase().indexOf(this.keyword.toLowerCase()) ||
            //checks for email match
            ~item.email.toLowerCase().indexOf(this.keyword.toLowerCase()) ||
            //checks for amount match
            //the check is partial match for just the whole part of the number
            parseInt(item.amount) == parseInt(this.keyword) ||
            //checks for type match
            ~type.toLowerCase().indexOf(this.keyword.toLowerCase())
          );
        });
      }

      items = _.orderBy(items, col, dir);

      return items;
    },
    itemsCurrent() {
      if (this.items_loading) {
        return [];
      }
      return this.items;
    }
  },
  watch: {},
  mounted() {
    this.refreshItems();
    this.$root.$on("transaction_saved", () => this.refreshItems());
  }
};
</script>
<style>
.pointer {
  cursor: pointer;
}
</style>

